# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf
*.crf
*.sbr

# Linker output
*.ilk
*.map
*.exp

# Libraries
*.lib
*.a
*.la
*.lo

# Executables
*.out
*.elf
*.axf
*.hex

# Build files
*.bat
*._ac
*._ia
*.__i
*._ii
*.iex

# Listings
*.lst
*.cod
*.i
*.map
*.htm

# Other files
*.uvguix.*
*.uvgui.*
*.lnp
*.lin
*.dep
*.bak
*.0000
*.scr
**/Objects/*.sct
